* {
	margin: 0;
	padding: 0;
	color: inherit;
	font: inherit;
	border: none;
	box-sizing: border-box;
	text-decoration: inherit;
}

html {
	font-family: sans-serif;
	font-size: 22px;
	line-height: 1.5;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1.4rem;
	text-align: center;
}

header {
	margin: 0.5rem auto;
	width: 100%;
	max-width: 40rem;
	text-align: center;
	font-size: 1.4rem;
}

section {
	margin: 0.5rem auto;
	width: 100%;
	max-width: 40rem;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.primary-link {
	color: #6262f7;
	font-weight: bold;
}

.kana-label {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.kana {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.kana-selected {
	border: 3px solid #6262f7;
}

.kana-set {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-auto-rows: 4rem;
	font-size: 2rem;
}

.kana-set:not(:last-child) {
	margin-bottom: 1rem;
}

.kana-label {
	background-color: rgba(0, 0, 0, 0.07);
	font-weight: bold;
}

.kana-unused {
	background-color: rgba(0, 0, 0, 0.2);
}